@import "tailwindcss";
@plugin "daisyui";

body {
  padding: 0;
  margin: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

section {
  padding: 2rem 1rem;
}

.entete.active {
  background: white;
}

h2{
    @apply text-xl font-semibold leading-tight;
}

h3{
    @apply text-[1.15rem] font-medium my-3;
}

button{
    @apply border border-gray-200 rounded-md text-xs font-medium leading-tight py-2 px-2 cursor-pointer;
}

section {
    @apply py-3;
}